.frame-content {
  margin: 1rem;
}

.frame-content > div > div + div {
  margin-top: 0.5rem;
  border-top: 1px dashed #dfdfe3;
  padding-top: 0.5rem;
}

html {
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #ECEFF5;
  color: #1C263B;
}