@layer components {
  .btn {
    @apply block text-xl text-center font-semibold rounded py-2 px-4 border border-accent-light text-white bg-accent-dark;
    &:hover {
      @apply bg-accent-lighter text-white;
    }
  }
  .btnSecondary {
    @apply block text-xl text-center font-semibold rounded py-2 px-4 border border-accent-dark text-black bg-white;
    &:hover {
      @apply bg-accent-lighter text-white;
    }
  }
}
